<!DOCTYPE html>
<html lang="en" ng-app="pipePlannerApp">
<head>
    <meta charset="UTF-8">
    <title>Pipe planner</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ngDraggable/ngDraggable.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
    <div class="container">
        <h1>Pipe planner</h1>
    </div>
    <div class="container">
        <div class="row" ng-controller="TimetableCtrl">
            <div class="col-md-12">
                <h2>{{ title }}</h2>
                <table class="table table-bordered" ng-init="updateTableFromModel()">
                    <tr ng-repeat="(expertID, cells) in timetableTable">
                        <!-- Имя эксперта -->
                        <td class="col-sm-2"><strong>{{ getExpertName(expertID) }}</strong></td>
                        <!-- Имя команд -->
                        <td ng-repeat="(iter, teamID) in cells track by $index">
                            {{ getTeamName(teamID) }}
                        </td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-default" ng-click="autoFillTable()">Generate</button>
                    </div>
                    <div class="col-sm-10 input-group input-group-sm">
                        <span class="input-group-addon" id="iter-count">Количество кругов</span>
                        <input type="number" class="form-control small" aria-describedby="iter-count" ng-model="iterCountForm">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-controller="AbsenceTeamCtrl">
            <div class="col-md-12">
                <h2>{{ title }}</h2>
                <table class="table table-bordered" ng-init="updateTableModel()">
                    <tr ng-repeat="(teamID, cells) in absenceTeamTable">
                        <!-- Имя команды -->
                        <td class="col-sm-2"><strong>{{ getTeamName(teamID) }}</strong></td>

                        <!-- Клеточки для заполнения -->
                        <td ng-repeat="(iter, cell) in cells track by $index" class="ng-class: cell == 1 ? 'danger' : 'success'" ng-click="onCellClick(teamID, iter)"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" ng-controller="AbsenceExpertCtrl">
            <div class="col-md-12">
                <h2>{{ title }}</h2>
                <table class="table table-bordered" ng-init="updateTableModel()">
                    <tr ng-repeat="(expertID, cells) in absenceExpertTable">
                        <!-- Имя эксперта -->
                        <td class="col-sm-2"><strong>{{ getExpertName(expertID) }}</strong></td>

                        <!-- Клеточки для заполнения -->
                        <td ng-repeat="(iter, cell) in cells track by $index" class="ng-class: cell == 1 ? 'danger' : 'success'" ng-click="onCellClick(expertID, iter)"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" ng-controller="ExpertListCtrl">
                <h2>{{ title }}</h2>
                <p ng-repeat="(id, expert) in experts">
                    {{ expert.name }}
                    <small>({{ expert.comment }})</small>
                </p>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="expert-name">ФИО</span>
                            <input type="text" class="form-control small" aria-describedby="expert-name" ng-model="newExpertName">
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="expert-comment">Коментарий</span>
                            <input type="text" class="form-control small" aria-describedby="expert-comment" ng-model="newExpertComment">
                        </div>
                        <a class="btn btn-primary btn-sm" role="button" ng-click="addExpert(newExpertName, newExpertComment)">Добавить</a>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
            <div class="col-md-6" ng-controller="TeamListCtrl">
                <h2>{{ title }}</h2>
                <p ng-repeat="(id, team) in teams">
                    {{ team.name }}
                    <small>({{ team.comment }})</small>
                </p>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="team-name">Название</span>
                            <input type="text" class="form-control small" aria-describedby="team-name" ng-model="newTeamName">
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="team-comment">Коментарий</span>
                            <input type="text" class="form-control small" aria-describedby="team-comment" ng-model="newTeamComment">
                        </div>
                        <a class="btn btn-primary btn-sm" role="button" ng-click="addTeam(newTeamName, newTeamComment)">Добавить</a>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div><!-- Список экспертов, команд -->
    </div>
</body>
</html>