<!DOCTYPE html>
<html lang="en" ng-app="pipePlannerApp">
<head>
    <meta charset="UTF-8">
    <title>Pipe planner</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ngDraggable/ngDraggable.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>
    <div class="container">
        <h1>Pipe planner</h1>
    </div>
    <div class="container">
        <div class="row" ng-controller="TimetableCtrl">
            <table class="table table-bordered table-hover">
                <tr ng-repeat="(expertID, cells) in timetable">
                    <td class="col-md-1"><strong>{{ getExpertName(expertID) }}</strong></td>
                    <td ng-repeat="(i, cell) in cells track by $index" ng-click="cellClick(expertID, i)" class="ng-class: cell.cellType == 1 ? 'danger' : '';"
                        ng-drop="true"
                        ng-drop-success="onDropComplete($data, $event, cell)">
                        <div class="btn btn-default btn-sm" ng-click="deleteTeamFromCell(team, cell)" ng-repeat="team in cell.teams">
                            {{ team.name }}
                        </div>
                    </td>
                </tr>
            </table>



            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">Количество кругов</div>
                        <input type="number" class="form-control" ng-model="countIterations">
                    </div>
                    <a class="btn btn-primary btn-sm" role="button" ng-click="genZeroTimetable()">Создать пустое расписание</a>
                </div>

                <!-- Кнопочки для переноса -->
                <div class="col-md-5">
                    <div class="btn btn-default btn-sm" ng-repeat="team in teams"
                         ng-drag="true"
                         ng-drag-data="team"
                         ng-center-anchor="true"
                    >{{ team.name }}</div>
                </div>
                <!-- / Кнопочки для переноса -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" ng-controller="ExpertListCtrl">
                <h2>{{ title }}</h2>
                <p ng-repeat="(id, expert) in experts">
                    {{ expert.name }}
                    <small>({{ expert.comment }})</small>
                </p>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="expert-name">ФИО</span>
                            <input type="text" class="form-control small" aria-describedby="expert-name" ng-model="newExpertName">
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="expert-comment">Коментарий</span>
                            <input type="text" class="form-control small" aria-describedby="expert-comment" ng-model="newExpertComment">
                        </div>
                        <a class="btn btn-primary btn-sm" role="button" ng-click="addExpert(newExpertName, newExpertComment)">Добавить</a>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
            <div class="col-md-6" ng-controller="TeamListCtrl">
                <h2>{{ title }}</h2>
                <p ng-repeat="(id, team) in teams">
                    {{ team.name }}
                    <small>({{ team.comment }})</small>
                </p>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="team-name">Название</span>
                            <input type="text" class="form-control small" aria-describedby="team-name" ng-model="newTeamName">
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="team-comment">Коментарий</span>
                            <input type="text" class="form-control small" aria-describedby="team-comment" ng-model="newTeamComment">
                        </div>
                        <a class="btn btn-primary btn-sm" role="button" ng-click="addTeam(newTeamName, newTeamComment)">Добавить</a>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>